# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so
*.egg-info/
dist/
build/
.venv/
venv/
.conda/
pip-wheel-metadata/

# Jupyter
.ipynb_checkpoints/

# OS / IDE
.DS_Store
Thumbs.db
.vscode/
.idea/

# Env & secrets
.env
.env.*
*.secret
*.key

# Logs & temp
*.log
*.tmp
*.cache/
